* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
}
.main-header {
    background-image: linear-gradient(180deg, #272727 0%, rgba(39, 39, 39, 0) 30.34%), url('../img/background.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
}
.main-header:after {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #272727;
    z-index: 1;
    opacity: 0.7;
}
.logo {
    z-index: 10;
}
.navbar {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 11px;
    margin-left: 42px;
    margin-right: 38px;
    margin-bottom: 184px;
}
.menu {
    margin-right: auto;
    margin-left: 63px;
    z-index: 10;
}
.menu-text {
    margin-top: 38px;
    align-items: center;
    color: #C4C4C4;
    z-index: 10;
}
.menu-list {
    margin-top: 22px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 88px;
    text-align: justify;
    z-index: 10;
}
.call-menu {
    display: inline-block;
    margin-left: 36px;
    z-index: 10;
}
.button-call {
    margin-top: 17px;
    z-index: 10;
}
.call-button {
    background-color: rgba(28,28,28,0);
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 9px 28px;
    text-decoration: none;
    color: #FFFFFF;
}
.call-num {
    display: flex;
    align-items: center;
    margin-top: 22px;
    color: #FFFFFF;
}
.call-svg {
    display: inline-block;
    margin-right: 8px;
}
.num-call {
    display: inline-block;
}
.header-title {
    position: relative;
    margin-bottom: 166px;
    z-index: 10;
}
.cont-title {
    margin-bottom: 12px;
    padding-left: 348px;
    padding-right: 349px;
}
.title {
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}
.cont-sub-title {
    padding-left: 372px;
    padding-right: 372px;
}
.sub-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #D6D6D6;
}